<header class="header_main">
  <a class="logo" href="/">{{ meta.siteName }}</a>
  <nav class="navbar">{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}</nav>
  <hr>
</header>